<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dish - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie8.css">
    <![endif]-->
    <script src="libs/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/bootstrap-select/bootstrap-select.min.js"></script>

    <script src="libs/less-1.3.3.min.js"></script>
    <script type="text/javascript" src="libs/contact-form.js"></script>
    <script src="libs/jquery.scrollto-1.4.3.1-min.js"></script>
    <script src="libs/jquery.easing.1.3.js"></script>
    <script src="libs/jquery.tweet.js"></script>
    <script src="libs/custom.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="libs/html5shiv.js"></script>
    <![endif]-->

  </head>

  <body>

  <div id="boxedWrapper">

  <header id="top">

    <div class="container">
      <div class="row-fluid">
        <div class="span12">
            
            <nav class="short-contact pull-right">
              <ul class="wheel-group">
                <li><p>331 W 4th St, New York, NY, USA  Phone1 +1 212-242-9502</p></li>
                <li><a href="#"><i class="wheel wheel-social icon-facebook"></i></a></li>
                <li><a href="#"><i class="wheel wheel-social icon-twitter"></i></a></li>
                <li><a href="#"><i class="wheel wheel-social icon-google-plus"></i></a></li>
                <li><a href="#"><i class="wheel wheel-social icon-rss"></i></a></li>
              </ul>
              <div class="line"></div>
            </nav>

            <div class="clearfix"></div>

            <div class="navbar">
              <div class="navbar-inner">
              
                  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>

                  <a class="brand" href="index.html">Dish</a>

                  <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                      <li class="active"><a href="index.html">Home</a></li>
                        <li class="dropdown">
                          <a href="02_aboutus.html" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
                          <ul class="dropdown-menu">
                              <li><a href="02_aboutus.html">About Us</a></li>
                              <li><a href="10_icons.html">Icons</a></li>
                              <li><a href="01_home-green.html">Green Variant</a></li>
                              <li><a href="01_home-brown.html">Brown Variant</a></li>
                              <li><a href="01_home-orange.html">Orange Variant</a></li>
                              <li><a href="01_home-pink-blue.html">Pink Blue Variant</a></li>
                              <li><a href="01_home-steel.html">Steel Variant</a></li>
                          </ul>
                        </li>
                      <li><a href="03_menucard.html">Menucard</a></li>
                      <li><a href="04_gallery.html">Gallery</a></li>
                        <li class="dropdown">
                          <a href="02_aboutus.html" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                          <ul class="dropdown-menu">
                            <li><a href="05_blog.html">Blog List</a></li>
                            <li><a href="06_single.html">Single Post</a></li>
                          </ul>
                        </li>
                        <li class="dropdown">
                            <a href="09_all_sections.html" class="dropdown-toggle" data-toggle="dropdown">Elements</a>
                            <ul class="dropdown-menu">
                                <li><a href="09_all_sections.html">All sections</a></li>
                                <li><a href="12_posttypes.html">Post types</a></li>
                                <li><a href="13_faq.html">FAQ</a></li>
                                <li><a href="14_shortcode_boxes.html">Boxes</a></li>
                                <li><a href="15_shortcode_buttons_typo.html">Typography</a></li>
                                <li><a href="16_shortcode_elements.html">Toggleable</a></li>
                                <li><a href="17_shortcode_pricing_tables.html">Pricing Tables</a></li>
                                <li><a href="18_single_product.html">Single Product</a></li>
                            </ul>
                        </li>
                        <li><a href="07_contact.html">Contact</a></li>
                    </ul>
                  </div>
                
              </div>
            </div>

        </div>
      </div>
    </div>

  </header>
  
  <div class="container">
    <div class="row-fluid">
      <div class="span12">

        <div class="slider"> <!-- slider -->
          <div class="carousel slide" id="main-carousel">
            <div class="carousel-inner">
              <div class="item active"> <!-- item -->

                <figure>
                  <img src="images/content-demo/slide1.jpg" alt="">
                </figure>

                <article class="span5">
                  <header>
                    <h2>New, fresh, delicious<br>&amp; with only 120k/cal</h2>
                  </header>
                  <p>
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.
                  </p>
                  <a href="#" class="btn btn-primary">Read More</a>
                </article>
                
              </div> <!-- //item -->
              <div class="item"> <!-- item -->

                <figure>
                  <img src="images/content-demo/slide1.jpg" alt="">
                </figure>

                <article class="span5">
                  <header>
                    <h2>New, fresh, delicious<br>&amp; with only 120k/cal</h2>
                  </header>
                  <p>
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.
                  </p>
                  <a href="#" class="btn btn-primary">Read More</a>
                </article>
                
              </div> <!-- //item -->
              <div class="item"> <!-- item -->

                <figure>
                  <img src="images/content-demo/slide1.jpg" alt="">
                </figure>

                <article class="span5">
                  <header>
                    <h2>New, fresh, delicious<br>&amp; with only 120k/cal</h2>
                  </header>
                  <p>
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.
                  </p>
                  <a href="#" class="btn btn-primary">Read More</a>
                </article>
                
              </div> <!-- //item -->
              <div class="item"> <!-- item -->

                <figure>
                  <img src="images/content-demo/slide1.jpg" alt="">
                </figure>

                <article class="span5">
                  <header>
                    <h2>New, fresh, delicious<br>&amp; with only 120k/cal</h2>
                  </header>
                  <p>
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.
                  </p>
                  <a href="#" class="btn btn-primary">Read More</a>
                </article>
                
              </div> <!-- //item -->

            </div>
            
            <div class="carousel-nav pull-right">
              <a href="#main-carousel" class="carousel-control-left" data-slide="prev"><i class="icon-angle-left"></i></a>
              <a href="#main-carousel" class="carousel-control-right" data-slide="next"><i class="icon-angle-right"></i></a>
            </div>


          </div>
        </div> <!-- //slider -->

      </div>
    </div>
  </div>

  <section id="content">
    
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
<!-- intro -->
     <!-- <div class="intro"> 
            <header>
                <h1><span>Hello</span> guest! Take a seat. <span>Your waiter</span> will be there in a minute!</h1>
            </header>
            <div class="book-table">
              <form action="form/table.php" method="post" class="contactForm">
                <fieldset>
                  <div class="row-fluid">
                    <div class="span10">
                      <div class="row-fluid">
                        <div class="span2">
                          <label for="book-name">Name</label>
                          <input type="text" value="" name="name" required class="input-text" id="book-name">
                        </div>
                        <div class="span2">
                          <label for="book-email">E-mail</label>
                          <input type="text" value="" class="input-text" name="email" required id="book-email">
                        </div>
                        <div class="span2">
                          <label for="book-phone">Phone</label>
                          <input type="text" value="" class="input-text" name="phone" required id="book-phone">
                        </div>
                        <div class="span2">
                          <label for="book-guests">Guests</label>
                          <input type="text" value="" class="input-text" name="guests" required id="book-guests">
                        </div>
                        <div class="span2">
                          <label for="book-date">Date</label>
                          <input type="text" value="" class="input-text" name="date" required id="book-date">
                        </div>
                        <div class="span2">
                          <label for="book-time">Time</label>
                          <select name="time" required id="book-time"><option>7:00 AM</option><option selected="selected">8:00 AM</option><option>9:00 AM</option></select>
                        </div>
                      </div>
                    </div>
                    <div class="span2">
                      <input type="submit" value="Place booking" class="btn btn-primary input-submit">
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="separator"></div>
            <a href="#" class="btn-book-table">Book a<br>table</a>
          </div> -->
          <!-- intro -->

          <section id="home">

            <div class="carousel slide" id="menu-carousel">
              <div class="carousel-inner"> <!-- carousel inner -->
                
                <div class="item active">
                  <div class="row-fluid">
                    <div class="span4 dish-item">
                      <header>
                        <h3 class="text-center">Matrimonios</h3>
                      </header>
                      <figure class="border">
                        <img src="images/eventos/mat.jpg" alt="">
                      </figure>
                      <article class="text-item text-center">
                        <header>
                          <h3><i class="wheel icon-tablet"></i>Fully Responsive</h3>
                        </header>
                        <p>
                          Pellentesque habitant morbi triique senectus et netus et malesuada es ac turpis egestas ersum labilia porc sablium
                        </p>
                        <a href="menu.html">ver</a>
                      </article>
                    </div>
                    <div class="span4 dish-item">
                      <header>
                        <h3 class="text-center">Cumpleaños</h3>
                      </header>
                      <figure class="border">
                        <img src="images/eventos/cum.jpg" alt="">
                      </figure>
                      <article class="text-item text-center">
                        <header>
                          <h3><i class="wheel icon-tablet"></i>Very tasty design</h3>
                        </header>
                        <p>
                          Pellentesque habitant morbi triique senectus et netus et malesuada es ac turpis egestas ersum labilia porc sablium
                        </p>
                        <a href="menu.html">Ver</a>
                      </article>
                    </div>
                    <div class="span4 dish-item">
                      <header>
                        <h3 class="text-center">Empresariales</h3>
                      </header>
                      <figure class="border">
                        <div class="ribbon special"><span>Special</span></div>
                        <img src="images/eventos/emp.jpg" alt="">
                      </figure>
                      <article class="text-item text-center">
                        <header>
                          <h3><i class="wheel icon-tablet"></i>Cool auto slider</h3>
                        </header>
                        <p>
                          Pellentesque habitant morbi triique senectus et netus et malesuada es ac turpis egestas ersum labilia porc sablium
                        </p>
                        <a href="menu.html">Ver</a>
                      </article>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="row-fluid">
                    <div class="span4 dish-item">
                      <header>
                        <h3 class="text-center">Dinner &amp; Dessert Menu</h3>
                      </header>
                      <figure class="border">
                        <img src="images/content-demo/img5.jpg" alt="">
                      </figure>
                      <article class="text-item text-center">
                        <header>
                          <h3><i class="wheel icon-tablet"></i>Very tasty design</h3>
                        </header>
                        <p>
                          Pellentesque habitant morbi triique senectus et netus et malesuada es ac turpis egestas ersum labilia porc sablium
                        </p>
                        <a href="#">Read more</a>
                      </article>
                    </div>
                    <div class="span4 dish-item">
                      <header>
                        <h3 class="text-center">Lunch Menu</h3>
                      </header>
                      <figure class="border">
                        <img src="images/content-demo/img4.jpg" alt="">
                      </figure>
                      <article class="text-item text-center">
                        <header>
                          <h3><i class="wheel icon-tablet"></i>Fully Responsive</h3>
                        </header>
                        <p>
                          Pellentesque habitant morbi triique senectus et netus et malesuada es ac turpis egestas ersum labilia porc sablium
                        </p>
                        <a href="#">Read more</a>
                      </article>
                    </div>
                    <div class="span4 dish-item">
                      <header>
                        <h3 class="text-center">Wine &amp; Beverages</h3>
                      </header>
                      <figure class="border">
                        <div class="ribbon special"><span>Special</span></div>
                        <img src="images/content-demo/img6.jpg" alt="">
                      </figure>
                      <article class="text-item text-center">
                        <header>
                          <h3><i class="wheel icon-tablet"></i>Cool auto slider</h3>
                        </header>
                        <p>
                          Pellentesque habitant morbi triique senectus et netus et malesuada es ac turpis egestas ersum labilia porc sablium
                        </p>
                        <a href="#">Read more</a>
                      </article>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="row-fluid">
                    <div class="span4 dish-item">
                      <header>
                        <h3 class="text-center">Dinner &amp; Dessert Menu</h3>
                      </header>
                      <figure class="border">
                        <img src="images/content-demo/img5.jpg" alt="">
                      </figure>
                      <article class="text-item text-center">
                        <header>
                          <h3><i class="wheel icon-tablet"></i>Very tasty design</h3>
                        </header>
                        <p>
                          Pellentesque habitant morbi triique senectus et netus et malesuada es ac turpis egestas ersum labilia porc sablium
                        </p>
                        <a href="#">Read more</a>
                      </article>
                    </div>
                    <div class="span4 dish-item">
                      <header>
                        <h3 class="text-center">Lunch Menu</h3>
                      </header>
                      <figure class="border">
                        <img src="images/content-demo/img4.jpg" alt="">
                      </figure>
                      <article class="text-item text-center">
                        <header>
                          <h3><i class="wheel icon-tablet"></i>Fully Responsive</h3>
                        </header>
                        <p>
                          Pellentesque habitant morbi triique senectus et netus et malesuada es ac turpis egestas ersum labilia porc sablium
                        </p>
                        <a href="#">Read more</a>
                      </article>
                    </div>
                    <div class="span4 dish-item">
                      <header>
                        <h3 class="text-center">Wine &amp; Beverages</h3>
                      </header>
                      <figure class="border">
                        <div class="ribbon special"><span>Special</span></div>
                        <img src="images/content-demo/img6.jpg" alt="">
                      </figure>
                      <article class="text-item text-center">
                        <header>
                          <h3><i class="wheel icon-tablet"></i>Cool auto slider</h3>
                        </header>
                        <p>
                          Pellentesque habitant morbi triique senectus et netus et malesuada es ac turpis egestas ersum labilia porc sablium
                        </p>
                        <a href="#">Read more</a>
                      </article>
                    </div>
                  </div>
                </div>

              </div> <!-- //carousel inner -->

              <ul class="carousel-nav">
                <li><a class="carousel-control left" href="#menu-carousel" data-position="37" data-slide="prev"><i class="icon-angle-left"></i></a></li>
                <li><a class="carousel-control right" href="#menu-carousel" data-position="37" data-slide="next"><i class="icon-angle-right"></i></a></li>
              </ul>
            </div>


            <header class="combo separator">
              <h3>Latest News</h3>
            </header>

            <div class="latest-blog-posts"> <!-- //latest blog posts -->
              <div class="row-fluid">
                <div class="span3">
                  <article class="item">
                    <header>
                      <h3>Fresh from the blog</h3>
                    </header>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    </p>
                    <p>
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </p>
                    <a href="#" class="btn">Read more +</a>
                  </article>
                </div>
                <div class="span3">
                  <article class="item">
                    <figure class="rounded">
                      <img src="images/content-demo/img20.jpg" alt="">
                    </figure>
                    <header>
                      <h5><a href="#">We have a new chiefcook on board! Say hello to Bob!</a></h5>
                    </header>
                    <p>
                      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas vestibulum tortor quam ...
                    </p>
                  </article>
                </div>
                <div class="span3">
                  <article class="item">
                    <figure class="rounded">
                      <img src="images/content-demo/img21.jpg" alt="">
                    </figure>
                    <header>
                      <h5><a href="#">We have a new chiefcook on board! Say hello to Bob!</a></h5>
                    </header>
                    <p>
                      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas vestibulum tortor quam ...
                    </p>
                  </article>
                </div>
                <div class="span3">
                  <article class="item">
                    <figure class="rounded">
                      <img src="images/content-demo/img22.jpg" alt="">
                    </figure>
                    <header>
                      <h5><a href="#">We have a new chiefcook on board! Say hello to Bob!</a></h5>
                    </header>
                    <p>
                      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas vestibulum tortor quam ...
                    </p>
                  </article>
                </div>
              </div>
            </div> <!-- //latest blog posts -->
            
            <div class="separator"></div>

            <header class="combo">
              <h3>Menu of the day</h3>
              <span>13. February, Wednesday</span>
            </header>

            <div class="tab">
              
              <div class="row-fluid">
                <div class="span3">
                  <ul class="nav nav-tabs" id="menu-of-the-day">
                    <li><a href="#tab-monday" data-toggle="tab">Monday</a></li>
                    <li><a href="#tab-tuesday" data-toggle="tab">Tuesday</a></li>
                    <li class="active"><a href="#tab-wednesday" data-toggle="tab">Wednesday</a></li>
                    <li><a href="#tab-thursday" data-toggle="tab">Thursday</a></li>
                    <li><a href="#tab-friday" data-toggle="tab">Friday</a></li>
                    <li><a href="#tab-thursday" data-toggle="tab">Saturday</a></li>
                    <li><a href="#tab-friday" data-toggle="tab">Sunday</a></li>
                  </ul>
                </div>
                  
                <!-- span9 -->
                <div class="span9">

                  <div class="tab-content"> <!-- tab-content -->
                    
                    <div class="tab-pane" id="tab-monday"> <!-- tab -->
                      <div class="row-fluid">
                        <div class="span9">
                          <article>
                            <header>
                              <h4>Starters</h4>
                              <h5>Greek salad with tasty olives</h5>
                            </header>
                            <p class="description">
                              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                            </p>
                            <footer>
                              <p class="price">only 4,99€</p>
                            </footer>
                          </article>
                        </div>
                        <div class="span3">
                          <figure class="rounded">
                            <img src="images/content-demo/img7.jpg" alt="">
                          </figure>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span9">
                          <article>
                            <header>
                              <h4>Lunch</h4>
                              <h5>Fryed halibut with mustard sauce</h5>
                            </header>
                            <p class="description">
                              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                            </p>
                            <footer>
                              <p class="price">only 4,99€</p>
                            </footer>
                          </article>
                        </div>
                        <div class="span3">
                          <figure class="rounded">
                            <img src="images/content-demo/img8.jpg" alt="">
                          </figure>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span9">
                          <article>
                            <header>
                              <h4>Dessert</h4>
                              <h5>Creme brullee with cacao powdered figues</h5>
                            </header>
                            <p class="description">
                              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                            </p>
                            <footer>
                              <p class="price">only 4,99€</p>
                            </footer>
                          </article>
                        </div>
                        <div class="span3">
                          <figure class="rounded">
                            <img src="images/content-demo/img9.jpg" alt="">
                          </figure>
                        </div>
                      </div>
                    </div> <!-- //tab -->

                    <div class="tab-pane" id="tab-tuesday"> <!-- tab -->
                      <div class="row-fluid">
                        <div class="span9">
                          <article>
                            <header>
                              <h4>Lunch</h4>
                              <h5>Fryed halibut with mustard sauce</h5>
                            </header>
                            <p class="description">
                              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                            </p>
                            <footer>
                              <p class="price">only 4,99€</p>
                            </footer>
                          </article>
                        </div>
                        <div class="span3">
                          <figure class="rounded">
                            <img src="images/content-demo/img8.jpg" alt="">
                          </figure>
                        </div>
                      </div>
                        <div class="row-fluid">
                          <div class="span9">
                            <article>
                              <header>
                                <h4>Starters</h4>
                                <h5>Greek salad with tasty olives</h5>
                              </header>
                              <p class="description">
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                              </p>
                              <footer>
                                <p class="price">only 4,99€</p>
                              </footer>
                            </article>
                          </div>
                          <div class="span3">
                            <figure class="rounded">
                              <img src="images/content-demo/img7.jpg" alt="">
                            </figure>
                          </div>
                        </div>
                      <div class="row-fluid">
                        <div class="span9">
                          <article>
                            <header>
                              <h4>Dessert</h4>
                              <h5>Creme brullee with cacao powdered figues</h5>
                            </header>
                            <p class="description">
                              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                            </p>
                            <footer>
                              <p class="price">only 4,99€</p>
                            </footer>
                          </article>
                        </div>
                        <div class="span3">
                          <figure class="rounded">
                            <img src="images/content-demo/img9.jpg" alt="">
                          </figure>
                        </div>
                      </div>
                    </div> <!-- //tab -->

                    <div class="tab-pane active" id="tab-wednesday"> <!-- tab -->
                      <div class="row-fluid">
                        <div class="span9">
                          <article>
                            <header>
                              <h4>Lunch</h4>
                              <h5>Fryed halibut with mustard sauce</h5>
                            </header>
                            <p class="description">
                              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                            </p>
                            <footer>
                              <p class="price">only 4,99€</p>
                            </footer>
                          </article>
                        </div>
                        <div class="span3">
                          <figure class="rounded">
                            <img src="images/content-demo/img8.jpg" alt="">
                          </figure>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span9">
                          <article>
                            <header>
                              <h4>Dessert</h4>
                              <h5>Creme brullee with cacao powdered figues</h5>
                            </header>
                            <p class="description">
                              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                            </p>
                            <footer>
                              <p class="price">only 4,99€</p>
                            </footer>
                          </article>
                        </div>
                        <div class="span3">
                          <figure class="rounded">
                            <img src="images/content-demo/img9.jpg" alt="">
                          </figure>
                        </div>
                      </div>
                        <div class="row-fluid">
                          <div class="span9">
                            <article>
                              <header>
                                <h4>Starters</h4>
                                <h5>Greek salad with tasty olives</h5>
                              </header>
                              <p class="description">
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                              </p>
                              <footer>
                                <p class="price">only 4,99€</p>
                              </footer>
                            </article>
                          </div>
                          <div class="span3">
                            <figure class="rounded">
                              <img src="images/content-demo/img7.jpg" alt="">
                            </figure>
                          </div>
                        </div>
                    </div> <!-- //tab -->

                    <div class="tab-pane" id="tab-thursday"> <!-- tab -->
                        <div class="row-fluid">
                          <div class="span9">
                            <article>
                              <header>
                                <h4>Lunch</h4>
                                <h5>Fryed halibut with mustard sauce</h5>
                              </header>
                              <p class="description">
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                              </p>
                              <footer>
                                <p class="price">only 4,99€</p>
                              </footer>
                            </article>
                          </div>
                          <div class="span3">
                            <figure class="rounded">
                              <img src="images/content-demo/img8.jpg" alt="">
                            </figure>
                          </div>
                        </div>
                      <div class="row-fluid">
                        <div class="span9">
                          <article>
                            <header>
                              <h4>Starters</h4>
                              <h5>Greek salad with tasty olives</h5>
                            </header>
                            <p class="description">
                              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                            </p>
                            <footer>
                              <p class="price">only 4,99€</p>
                            </footer>
                          </article>
                        </div>
                        <div class="span3">
                          <figure class="rounded">
                            <img src="images/content-demo/img7.jpg" alt="">
                          </figure>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span9">
                          <article>
                            <header>
                              <h4>Dessert</h4>
                              <h5>Creme brullee with cacao powdered figues</h5>
                            </header>
                            <p class="description">
                              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                            </p>
                            <footer>
                              <p class="price">only 4,99€</p>
                            </footer>
                          </article>
                        </div>
                        <div class="span3">
                          <figure class="rounded">
                            <img src="images/content-demo/img9.jpg" alt="">
                          </figure>
                        </div>
                      </div>
                    </div> <!-- //tab -->

                    <div class="tab-pane" id="tab-friday"> <!-- tab -->
                      <div class="row-fluid">
                        <div class="span9">
                          <article>
                            <header>
                              <h4>Starters</h4>
                              <h5>Greek salad with tasty olives</h5>
                            </header>
                            <p class="description">
                              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                            </p>
                            <footer>
                              <p class="price">only 4,99€</p>
                            </footer>
                          </article>
                        </div>
                        <div class="span3">
                          <figure class="rounded">
                            <img src="images/content-demo/img8.jpg" alt="">
                          </figure>
                        </div>
                      </div>
                        <div class="row-fluid">
                          <div class="span9">
                            <article>
                              <header>
                                <h4>Dessert</h4>
                                <h5>Creme brullee with cacao powdered figues</h5>
                              </header>
                              <p class="description">
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                              </p>
                              <footer>
                                <p class="price">only 4,99€</p>
                              </footer>
                            </article>
                          </div>
                          <div class="span3">
                            <figure class="rounded">
                              <img src="images/content-demo/img9.jpg" alt="">
                            </figure>
                          </div>
                        </div>
                      <div class="row-fluid">
                        <div class="span9">
                          <article>
                            <header>
                              <h4>Lunch</h4>
                              <h5>Fryed halibut with mustard sauce</h5>
                            </header>
                            <p class="description">
                              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                            </p>
                            <footer>
                              <p class="price">only 4,99€</p>
                            </footer>
                          </article>
                        </div>
                        <div class="span3">
                          <figure class="rounded">
                            <img src="images/content-demo/img7.jpg" alt="">
                          </figure>
                        </div>
                      </div>
                    </div> <!-- //tab -->

                    <div class="tab-pane" id="tab-saturday"> <!-- tab -->
                      <div class="row-fluid">
                        <div class="span9">
                          <article>
                            <header>
                              <h4>Lunch</h4>
                              <h5>Fryed halibut with mustard sauce</h5>
                            </header>
                            <p class="description">
                              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                            </p>
                            <footer>
                              <p class="price">only 4,99€</p>
                            </footer>
                          </article>
                        </div>
                        <div class="span3">
                          <figure class="rounded">
                            <img src="images/content-demo/img8.jpg" alt="">
                          </figure>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span9">
                          <article>
                            <header>
                              <h4>Dessert</h4>
                              <h5>Creme brullee with cacao powdered figues</h5>
                            </header>
                            <p class="description">
                              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                            </p>
                            <footer>
                              <p class="price">only 4,99€</p>
                            </footer>
                          </article>
                        </div>
                        <div class="span3">
                          <figure class="rounded">
                            <img src="images/content-demo/img9.jpg" alt="">
                          </figure>
                        </div>
                      </div>
                        <div class="row-fluid">
                          <div class="span9">
                            <article>
                              <header>
                                <h4>Starters</h4>
                                <h5>Greek salad with tasty olives</h5>
                              </header>
                              <p class="description">
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                              </p>
                              <footer>
                                <p class="price">only 4,99€</p>
                              </footer>
                            </article>
                          </div>
                          <div class="span3">
                            <figure class="rounded">
                              <img src="images/content-demo/img7.jpg" alt="">
                            </figure>
                          </div>
                        </div>
                    </div> <!-- //tab -->

                    <div class="tab-pane" id="tab-sunday"> <!-- tab -->
                      <div class="row-fluid">
                        <div class="span9">
                          <article>
                            <header>
                              <h4>Starters</h4>
                              <h5>Greek salad with tasty olives</h5>
                            </header>
                            <p class="description">
                              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                            </p>
                            <footer>
                              <p class="price">only 4,99€</p>
                            </footer>
                          </article>
                        </div>
                        <div class="span3">
                          <figure class="rounded">
                            <img src="images/content-demo/img7.jpg" alt="">
                          </figure>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span9">
                          <article>
                            <header>
                              <h4>Dessert</h4>
                              <h5>Creme brullee with cacao powdered figues</h5>
                            </header>
                            <p class="description">
                              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                            </p>
                            <footer>
                              <p class="price">only 4,99€</p>
                            </footer>
                          </article>
                        </div>
                        <div class="span3">
                          <figure class="rounded">
                            <img src="images/content-demo/img9.jpg" alt="">
                          </figure>
                        </div>
                      </div>
                        <div class="row-fluid">
                          <div class="span9">
                            <article>
                              <header>
                                <h4>Lunch</h4>
                                <h5>Fryed halibut with mustard sauce</h5>
                              </header>
                              <p class="description">
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                              </p>
                              <footer>
                                <p class="price">only 4,99€</p>
                              </footer>
                            </article>
                          </div>
                          <div class="span3">
                            <figure class="rounded">
                              <img src="images/content-demo/img8.jpg" alt="">
                            </figure>
                          </div>
                        </div>
                    </div> <!-- //tab -->

                  </div> <!-- // tab-content -->

                </div>
                <!-- //span9 -->
              </div>

            </div>

          </section>

          <div class="separator"></div>

        </div> <!-- //span -->
      </div> <!-- //row -->
    </div> <!-- //container -->

  </section>

  <section id="prefooter">
    <div class="container">
      <div class="row-fluid">
        <div class="span3">
          <article>
            <header>
              <h3>About dish</h3>
            </header>
            <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus.</p>
            <p>Posuere velit aliquet. Duis mollis, est non commodo luctus.</p>
            <div class="special">dish.</div>
            <ul class="icons-group">
              <li><p><i><img src="images/icon-map-marker.png" alt=""></i>331 W 4th St, New York, NY,</p></li>
              <li><p><i><img src="images/icon-phone.png" alt=""></i>(049) +1 212-242-9502</p></li>
              <li><p><i><img src="images/icon-email.png" alt=""></i>hello@dish.com</p></li>
            </ul>
          </article>
        </div>
        <div class="span3">
          <article>
            <header>
              <h3>Get in Contact</h3>
            </header>
            <ul class="icons-group">
              <li><p><i><img src="images/icon-phone.png" alt=""></i>Phone1 +1 212-242-9502<br>Phone2 +1 212-242-9503</p></li>
              <li><p><i><img src="images/icon-map-marker.png" alt=""></i>331 W 4th St, New York, NY<br>Phone +1 212-242-9502</p></li>
              <li><p><i><img src="images/icon-email.png" alt=""></i>hello@dish-restaurant.com<br>www.dish-restaurant.com</p></li>
            </ul>
            <div class="map">
              <img src="images/content-demo/gmap.png" alt="">
            </div>
          </article>
        </div>
        <div class="span3">
          <article>
            <header>
              <h3>Latest Tweets</h3>
            </header>
              <div class="tweets"></div>
          </article>
        </div>
        <div class="span3">
          <article class="book-table">
            <header>
              <h3>Book a Table</h3>
            </header>
            <form class="contactForm" action="form/table.php" method="post">
              <fieldset>
                <ul>
                  <li>
                    <label for="form-name">Name</label>
                    <input type="text" value="" class="input-text" name="name" required id="form-name">
                  </li>
                  <li>
                    <label for="form-email">E-Mail Address</label>
                    <input type="text" value="" class="input-text" name="email" required id="form-email">
                  </li>
                  <li>
                    <label for="form-phone">Phone number</label>
                    <input type="text" value="" class="input-text" name="phone" required id="form-phone">
                  </li>
                  <li>
                    <label for="form-guests">Guests (Amount)</label>
                    <input type="text" value="" class="input-text" name="guests" required id="form-guests">
                  </li>
                  <li>
                    <label for="form-date">Date</label>
                    <input type="text" value="" class="input-text" name="date" required id="form-date">
                  </li>
                  <li>
                    <label for="form-time">Time</label>
                    <select name="time" id="form-time"><option>9:00 AM</option><option>10:00 AM</option><option>11:00 AM</option></select>
                  </li>
                </ul>
                <input type="submit" value="Book a Table" class="btn btn-primary btn-block" />
              </fieldset>
            </form>
          </article>
        </div>
      </div>
    </div>
  </section>


  <footer id="footer">
    <div class="container">
      <div class="row-fluid">
        <div class="span3">
          <p>
              &copy; Copyright 2013 <strong>dish.</strong>/ <span>Coded by <a href="http://outsourcing.createit.pl/"><strong>createIT</strong></a></span>
          </p>
          <p>
            PSD Template by <a href="#">templaterockers</a>
          </p>
        </div>
        <div class="span9">
          <nav class="short-menu">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Pages</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Gallerie</a></li>
              <li><a href="#">Shortcodes</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
          <nav class="social-list">
            <ul class="wheel-group">
              <li><a href="#"><i class="random"><img src="images/icon-random.png" alt=""></i></a></li>
              <li><a href="#"><i class="wheel wheel-social icon-facebook"></i></a></li>
              <li><a href="#"><i class="wheel wheel-social icon-twitter"></i></a></li>
              <li><a href="#"><i class="wheel wheel-social icon-google-plus"></i></a></li>
              <li><a href="#"><i class="wheel wheel-social icon-rss"></i></a></li>
              <li><a href="#top" class="btn gotop">Top</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </footer>

  </div>
  <!-- //boxedWrapper -->

  <!-- frame -->


<link href="http://frame.themeforest.createit.pl/assets/createit/css/style.css" media="all" rel="stylesheet" type="text/css">
<script src="http://frame.themeforest.createit.pl/assets/js/switcher.js"></script>

<!-- end frame -->
<!-- switcher -->
<!-- switcher -->
<script src="./demo/js/demo.js"></script>
<link rel="stylesheet" type="text/css" href="./demo/css/demo.css">

<!-- end switcher -->
<!-- end switcher -->
</body>

</html>
